<div class="grid-block">
  <div class="medium-5 grid-block">
    <div class="grid-content">
      <h1>News Feed</h1>
      <section class="block-list">
        <header>Events</header>
        <ul>
          <li ng-repeat="object in newsfeed"><a href="#">{{object.news}}</a></li>
        </ul>
      </section>
    </div>
  </div>
  <div class="medium-7 grid-block vertical">
    <div class="grid-block" ng-controller="highchartsCtrl">
      <highchart id="chart1" config="chartConfig" class="span10"></highchart>
    </div>
    <div class="grid-block">
      <h1>Make Trade/Accept</h1>
    </div>
  </div>
</div>
