<zf-notification-set id="main-notifications" position="top-right"></zf-notification-set>

<!--<div class="grid-block">-->
  <div class="medium-5 grid-block">
    <div class="grid-content">
      <h1>Quarterly News Feed</h1>
      <section class="block-list">
        <header>Events</header>
        <ul>
          <li ng-repeat="object in newsfeed"><a href="#">
            <h4><strong>Quarter {{object.quarter}}</strong></h4>
            <h6><strong>Management Report</strong></h6>
            <div ng-repeat="data in object.news | filter: teamInfo.industry">{{data.update}}</div>
            <h6><strong>Global Economic Report</strong></h6>
            <div>{{object.global}}</div>
          </a></li>
        </ul>
      </section>
    </div>
  </div>
  <div class="medium-7 grid-block vertical">
    <div class="grid-block" ng-controller="highchartsCtrl" style="height: 40vh; overflow-y: hidden">
      <highchart id="chart" config="chartConfig" style="width: 100%; height: 50vh;"></highchart>
    </div>
    <div class="grid-block medium-12">
      <h1>Trading Panel</h1>
    </div>
    <div class="grid-block" ng-controller="tradeCtrl">
      <div class="grid-content">
        <div class="grid-block">
          <div class="small-12 medium-6 grid-content">
            <label><header>Send offer to</header></label>
            <select ng-model="receivingTeam" ng-options="competitor.name for (id,competitor) in competitors">
              <option value="" disabled="disabled" ng-selected="true">Choose a Team</option>
            </select>
          </div>
          <div class="small-12 medium-6 grid-content">
            <label><header>Select Service</header></label>
            <select ng-model="serviceOffered" ng-options="service for (id, service) in servicesOffered">
              <option value="" disabled="disabled" ng-selected="true">Choose a Service</option>
            </select>
          </div>
          <div class="small-12 grid-content">
            <label>
              <header>Negotiated Selling Price</header>
            <span class="inline-label">
              <input type="number" placeholder="Enter Price" ng-model="priceOffered">
              <a href="#" ng-click="makeTrade(priceOffered,receivingTeam,serviceOffered)" class="button">Send Offer<i class="fa fa-paper-plane"></i></a>
            </span>
            </label>
          </div>
          <div class="small-12 grid-content">
            <label>
            <span class="inline-label">
              <section class="block-list">
                <header>Pending Trades</header>
                <ul>
                  <li ng-repeat="(key, object) in trades.sent">
                    <a href="#">
                      You have a pending trade with <strong>{{object.companyReceivingName}}</strong> offering <strong>{{object.service}}</strong> services, for a price of
                      <strong>${{object.priceSoldFor}}</strong>
                    </a>
                  </li>
                </ul>
              </section>
            </span>
            </label>
          </div>
        </div>
      </div>
      <div class="grid-block medium-6">
        <div class="grid-block" style="max-height: 500px">
          <section class="block-list">
            <header>Offered Trades</header>
            <ul>
              <li ng-repeat="(key, object) in trades.pending">
                <a href="#">
                  <strong>{{object.companyProvidingName}}</strong> wants to sell you <strong>{{object.service}}</strong> services, for a price of
                  <strong>${{object.priceSoldFor}}</strong>. Please accept or decline this offer using the buttons below.
                  <a class="success button" href="#" ng-click="acceptTrade(key)">Accept <i class="fa fa-check-circle"></i></a>
                  <a class="alert button" href="#" ng-click="declineTrade(key)">Decline <i class="fa fa-ban"></i></a>
                </a>
              </li>
            </ul>
          </section>
        </div>
      </div>
    </div>
  </div>
<!--</div>-->
